.carousel
  //--vc-pgn-background-color: #0000FF
  --vc-pgn-active-color: #FFFF00
  max-width: calc(100vw)
  margin-top: 50px

  @media (min-width: 1024px)
    //max-width: unset
    margin-top: 0

  .carousel__slide
    //align-items: flex-start
    width: 100%

  .carousel__pagination
    margin-top: 30px

  .carousel__prev
    //top: auto
    background-color: #005BBB
    position: absolute
    left: 10%
    width: 40px
    height: 40px

    @media (max-width: 500px)
      display: none

  .carousel__next
    //top: auto
    background-color: #005BBB
    position: absolute
    right: 10%
    width: 40px
    height: 40px

    @media (max-width: 500px)
      display: none

  .carousel__pagination
    //bottom: 0
